apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: yce-backend
  name: yce-backend
  namespace: yce
spec:
  minReadySeconds: 30
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: yce-backend
  strategy:
    rollingUpdate:
      maxSurge: 3
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "10080"
        prometheus.io/scrape: "true"
      labels:
        name: tidb
    spec:
      containers:
      - command:
        - /bin/sh
        - -ec
        - |
          HOSTNAME=$(hostname)
          echo $HOSTNAME
          /tidb-server --store=tikv \
              --path=${PD_SERVICE_NAME}:2379
        image: pingcap/tidb:v2.1.0
        imagePullPolicy: IfNotPresent
        env:
        - name: PD_SERVICE_NAME
          value: pd.endgame
        name: tidb
        ports:
        - containerPort: 4000
          name: server
          protocol: TCP
        - containerPort: 10080
          name: status
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /status
            port: 10080
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
